.input {
    text-align: center;
    margin-bottom: 20px;
}

.input input {
    width: 60%;
}

.input input:hover {
    padding: 3px;
    transition-duration: 500ms;
}

.validation_message {
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    color: red;
}
