/* You can add global styles to this file, and also import other style files */
/*body {font-family: "Times New Roman", Times, serif}*/
body app-root
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Trebuchet MS", "Arial", sans-serif;
}

h1
{
    text-align: center;
    color: #cf0202;
}
h2
{
    text-align: center;
    color: #cf0202;
}

.button
{
    text-align: center;
    margin: 20px 2%;
}
.button button
{
    font-family: "Trebuchet MS", "Arial", sans-serif;
    color: #cf0202;
    border: 1px solid #cf0202;
    border-radius: 3px;
    line-height: 250%;
}

.button button:hover
{
    background-color: #efefef;
    transition-duration: 300ms;
    cursor: pointer;
}


